{% extends 'user/base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<section class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        {% comment %} <h2>Your Dashboard</h2> {% endcomment %}
        
        {% comment %} <p class="pera-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        <p class="pera-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse varius enim in eros elementum tristique. Duis 
        cursus, mi quis viverra ornare.</p> {% endcomment %}
        <a href="view_merchant_thread" class="btn">By Merchant</a>

        <a href="view_farmer_thread" class="btn">By Farmers</a>
        {% comment %} <br>
        <br>
        <a href="#" class="btn">TRACKINGS</a>
        <br>
        <br>
        <a href="#" class="btn">FEEDBACK</a> {% endcomment %}

    </div>
</section>
{% endblock %}